.popup-close-btn {
  position: absolute;
  top: -35px;
  right: -35px;
  outline: none;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: .8s;
}

.popup-close-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 768px) {
  .popup-close-btn {
    width: 23px;
    height: 23px;

  }
}

@media screen and (max-width: 425px) {
  .popup-close-btn {
    width: 20px;
    height: 20px;
    right: 0;
  }
}