.footer {
  margin: 0 auto;
  width: 100%;
  padding: 0 200px;
  box-sizing: border-box;
}

@media screen and (max-width: 1152px) {
  .footer {
    padding: 0 150px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 25px;
  }
}